body {
    font-family: Arial, serif;
    background: #f3f3f3;
    margin: unset;
}

#header {
    display: flex;
    flex-direction: column;
}

#header-above, #header-above-left, #header-above-right, #header-below, #header-below-left, #header-below-right {
    display: flex;
    flex-direction: row;
}

#header-above {
    background-color: #f95530;
    color: #ffffff;
    position: relative;
}

#header-below {
    background: #ffffff;
    color: #f95530;
    position: relative;
    height: 100px;
    align-items: center;
}

#header-above-right, #header-below-right {
    position: absolute;
    right: 0;
}

#header-above-left div, #header-above-right div, #header-above-left span, #header-below-left div, #header-below-left span, #header-below-right div {
    padding: 5px;
}

#txt-shopee, #txt-cart {
    font-size: 20px;
}

#txt-shopee {
    font-weight: bold;
}

.table-container, #total-price {
    width: 100%; /* Đặt vùng chứa của bảng thành 100% chiều rộng */
    max-width: 1200px; /* Tùy chỉnh chiều rộng tối đa cho bảng nếu muốn */
    margin: 0 auto; /* Căn giữa bảng */
}

#table-cart-item, #table-recommend {
    width: 100%; /* Đặt chiều rộng của bảng thành 100% để lấp đầy vùng chứa */
    margin-top: 10px;
    background: #ffffff;
    border-collapse: collapse; /* Làm các đường viền bảng sát nhau nếu có */
}

#table-cart-item tr, #table-cart-item th, #table-recommend tr {
    width: 100vw;
    padding: 5px;
}

#table-recommend td {
    border: 4px solid #f3f3f3; /* Đường viền xung quanh các ô */
}

#quantity {
    display: flex;
    flex-direction: row;
}

#quantity div {
    flex-grow: 1;
}

.quantity-choice {
    text-decoration: none;
}